@using MenuApi.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRASI - @ViewBag.Title</title>

    <base href="/" />
    @Styles.Render("~/app/mobilestyles")

    <link rel="shortcut icon" type="image/png" href="~/app/images/favicon64.png" />
</head>
<body>

    <header id="PageHeader" class="hd-header">
        <div class="hd-main-nav hd-item">
            <div id="MainMenuToggle" class="ui button basic black inverted"> PRASI LOGO </div>
        </div>

        <div class="ui button icon  inverted basic yellow" id="SecondNavToggle">
            <i class="content icon"></i>
        </div>

    </header>



    <div id="Content">

        @RenderBody()

    </div>

    <div class="hidden" id="MainMenu">
        <div class="ui divider horizontal">Go Go Menu</div>

        <select id="TierOneSelect" style="width:95%"></select>
        <div class="ui divider horizontal"></div>
        <select id="TierTwoSelect" style="width:95%"></select>
        <div class="ui divider horizontal"></div>

        <select id="TierThreeSelect" style="width: 95%;"></select>
        <div class="ui divider horizontal"></div>

        <a class="ui button large disabled blue" style="width: 95%;" id="GoToPage" href="#">Go</a>


    </div>

    <div id="SecondNav" class="hidden">
        <div class="ui icon inverted large basic yellow buttons vertical">
            <div class="ui button icon" data-popup="HdUserPopup">
                <i class="user icon"></i>User
            </div>
            <div class="ui button" data-popup="HdSearchPopup">
                <i class="search icon"></i>Search
            </div>

            <div class="ui button" id="HelpLink" data-popup="HdHelpPopup">
                <i class="help icon"></i>Help
            </div>

            <div class="ui button" data-popup="HdLinksPopup">
                <i class="list icon"></i>Links
            </div>
        </div>

        <div id="SecondMenuContent">
            <div id="HdUserPopup">
                <div class="ui vertical menu fluid inverted">
                    <label class="item header"> User Actions <i class="user icon"></i> </label>
                    <a class="item"> <i class="home icon"></i> Go Home </a>
                    <a class="item">
                        <i class="protect icon"></i>
                        Change Password
                        <p> there is a bit of text here </p>
                    </a>
                    <a class="item"> <i class="refresh icon"></i> Reload Profile & Menu </a>
                    <a class="item"> <i class="sign out icon"></i>Sign Out </a>
                </div>
            </div>

            <div id="HdSearchPopup">
                <div class="ui vertical menu fluid inverted">
                    <label class="item header"> Search Pages <i class="search icon"></i> </label>
                    <a class="item"> Waluigis </a>
                    <a class="item"> Myocarium </a>
                    <a class="item"> Confrontation </a>
                </div>
            </div>

            <div id="HdLinksPopup">
                <div class="ui vertical menu fluid inverted">
                    <label class="item header"> Organization Links <i class="list icon"></i> </label>
                    <a class="item"> <i class="home icon"></i> PRASI Home </a>
                    <a class="item"> <i class="book icon"></i> PRASI Reference </a>
                    <a class="item"> <i class="book icon"></i> PRASI Test </a>
                </div>
            </div>

            <div id="HdHelpPopup">
                <div class="ui vertical menu fluid inverted">
                    <label class="item header"> Help Pages <i class="help icon"></i> </label>
                    <a class="item"> Help for this page </a>
                    <a class="item"> FAQ </a>
                    <a class="item" href="mailto:me@gmail.com">
                        Contact PRASI Support
                    </a>
                </div>
            </div>
        </div>

        <section id="UserInfoFooter">
            @ViewBag.Name<br/>
            @ViewBag.Office
        </section>



    </div>



    <!-- #region Menu Items Context -->
    <!-- Template for hidden menu and menu context items. This template is rendered on each page load -->

    <div id="template" style="display: none; visibility: hidden;" hidden>

        <div id="current_page_menu_items">
            <input type="hidden" id="Tier1NodeId" value="@ViewBag.Tier1NodeId" />
            <input type="hidden" id="Tier2NodeId" value="@ViewBag.Tier2NodeId" />
            <input type="hidden" id="Tier3NodeId" value="@ViewBag.Tier3NodeId" />
        </div>

        <div id="tierthree_template">
            @Html.Partial("NearbyPagesMobile", ViewBag.NearbyPages as IEnumerable<MenuNode>)
        </div>

        <div id="helplinkhref_template" data-href="#ReplacedByTemplateLinkData"></div>
    </div>

    <!-- #endregion -->
    @Scripts.Render("~/app/mobilescripts")

</body>

</html>
